        </main>
        <footer class="footerbar">
            <div class="footernar commentsDiv">
                <p>"ANIME IS LOVE, ANIME IS LIFE"</p>
                <p>"GRASS? WHAT IS THAT?"</p>
                <p>"ANIME MY BELOVED"</p>
                <div class="Communication">
                    <img class="logos instagram" src="/images/instagram-icon.png" alt="instagramLogo">
                    <img class="logos facebook" src="/images/facebook-icon.png" alt="facebookLogo">
                    <img class="logos mail" src="/images/mail-icon.png" alt="mailLogo">
                </div>
            </div>
            <div class="footerbar discordDiv">
                <p>OUR DISCORD</p>
                <img class="discordLogo" src="/images/discord-icon.png" alt="discordLogo">
            </div>
        </footer>
    </body>
</html>