<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/content.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Anime Enjoyers</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar logoTitle">
                <img class="logo" src="/images/LuffyMafia3.png" alt="LuffyMafia"> 
                <h1 class="title">ANIME ENJOYERS</h1>
            </div>
            <div class="navbar buttons">
                <ul class="buttons-style">
                    <li><a class="buttons-link" href="/">HOME</a></li>
                    <li><a class="buttons-link" href="/aboutPage">ABOUT</a></li>
                    <li><a class="buttons-link" href="/createBlogPage">CREATE BLOG</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">