<%- include("partials/header.ejs") %>
<div class="aboutPageContent">
    <img class="luffyLogo" src="images/LuffyMafia3.png" alt="LuffyMafia">
    <h1>Welcome to anime enjoyers!</h1>
    <p>This is a small project created by Georgium for the discord server "Anime Enjoyers".<br>I plan to add many more features as I learn more things about web development and coding in general.<br>Currently this website does not have a database so your blogs will not be saved(For now).<br> Feel free to send any feedback so that the website gets improved.<br>Thank you for visiting!</p>
</div>
<%- include("partials/footer.ejs") %>
