<%- include("partials/header.ejs") %>
    <div class="view-overflow">
        <div class="view-container">
            <div class="view-blogCard">
                <h1><%=blogDetails.title%></h1>
                <p><%=blogDetails.description%></p>
            </div>
        </div>
    </div>
<%- include("partials/footer.ejs") %>